.leftNavContainer {
  width: 100%;
  align-self: stretch;
  position: relative;
}
.leftSideNavbarTabsButtonStyling {
  height: 40px;
  width: 60%;
  padding: 4px;
  border: 3px solid black;
  border-radius: 50px;
}

@media (min-width: 0px) and (max-width: 768px) {
  .leftNavContainer {
    display: none;
  }
}
