.logoStyling {
  height: 60px;
  width: 100px;
}

.rightSideHeaderContainerTabs {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.rightSideTabsInExtraSmallDevices {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
/* .popupContainer {
  position: relative;
  top: 50%;
  left: 45%;
  height: 200px;
  width: 200px;
  background-color: black;
} */

.themeButtonStyling {
  height: 40px;
  width: 40px;
  border: black solid 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 3px;
}
.headerIconStyling {
  height: 90%;
  width: 90%;
}

.loginLogoutBtnStyling {
  height: 40px;
  width: 70px;
  border: blue 3px solid;
  color: blue;
  background-color: white;
}

/* .popupContainerForLogout {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 70%;
  background-color: pink;
}

.popupContainerForLogout button {
  height: 40px;
  width: 80px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10%;
} */

@media (min-width: 769px) {
  .rightSideTabsInExtraSmallDevices {
    display: none;
  }
  .rightSideHeaderContainerTabs {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 20px;
  }
  .popupContainerForLogout {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5%;
    background-color: pink;
    padding: 20px;
  }

  .popupContainerForLogout button {
    height: 40px;
    width: 80px;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .rightSideTabsInExtraSmallDevices {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 10px;
  }
  .rightSideHeaderContainerTabs {
    display: none;
  }
  .dropDownContainer {
    width: 100%; /* Adjust width as needed */
    overflow: hidden; /* Hide overflow content */
    transition: height 5s ease; /* Smooth transition for height changes */
    position: fixed;
    z-index: 2;
    top: 100px;
    background-color: black;
    color: white;
  }

  /* Active state styles */
  .dropDownContainer.active {
    height: auto; /* Allow container to expand to fit content */
  }

  /* Dropdown content styles */
  .dropDownContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .dropDownContainer li {
    margin-bottom: 10px; /* Adjust spacing between items */
  }

  .dropDownContainer a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }

  /* Hover effect on dropdown items */
  .dropDownContainer a:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }

  .popupContainerForLogout {
    display: flex;
    flex-direction: column;
    background-color: pink;
    position: relative;
    left: 5%;
    padding: 20px;
  }

  .popupContainerForLogout button {
    height: 60px;
    width: 70%;
    align-self: center;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
}
